{% extends "layoutDisabled.html" %}

{% block title %}
    Edit Member
{% endblock %}

{% block main %}
<main id="formpage" style="height: 700px; background-image: url(https://i.pinimg.com/originals/7b/58/45/7b584571c55666c2f7ee421c42374212.jpg); background-size: cover; background-repeat: no-repeat;">
    <div class="card m-plus-rounded-1c" style="margin:50px; width: clamp(500px, 700px, 1200px); font-size:110%">
        <div class="card-header">
            <b><h2 class="card-title" style="margin-bottom: 10px; margin-top:10px">Reset Password</h2></b>
        </div>
        <div class="card-body">
            <form action="/reset" method="post" autocomplete="off" style="margin-bottom: 8%;">
                <div class="form-floating mb-3">
                    <input class="form-control form-control-lg" id="username" name="username" type="text" placeholder="Username" aria-label="Username" required>
                    <label for="username">Username:</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control form-control-lg" id="password" name="password" type="password" placeholder="Password" aria-label="Password" required>
                    <label for="password">Password:</label>
                </div>
                <div class="form-floating">
                    <input class="form-control form-control-lg" id="confirm" name="confirm" type="password" placeholder="Confirm password" aria-label="Confirm password" required>
                    <label for="confirm">Confirm Password:</label>
                </div>
                <div class="form-item">
                    <button class="fancy-button" style="margin-top: 15px;" type="submit">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
